--extra-index-url https://download.pytorch.org/whl/cpu

# --- Web Framework & Server ---
Flask
Flask-Cors
gunicorn
fastapi
uvicorn
gradio

# --- AI / Machine Learning ---
torch
torchvision
ultralytics

# --- Computer Vision & Data ---
opencv-python-headless
Pillow
numpy
pandas
matplotlib

# --- OCR ---
easyocr